/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --primaryDark: #212121;
  --bgColor: #ffffff;
  --iconColor: #14a44c;
  --placeholders: #c4c4c4;
}

a {
  color: var(--iconColor);
  text-decoration: none;
}

a:hover {
  color: var(--iconColor);
}

body {
  margin: 0;
  color: #ffffff;
  scroll-behavior: smooth;
  padding: 0;
  box-sizing: border-box;
  cursor: url('./assets/img/cursor.png'), url('./assets/img/cursor.cur'),
    default;
  transition: cursor 3s linear;
  background-color: var(--primaryDark);
  font-family: 'PT Sans', sans-serif;
}

.heading {
  color: #fff;
}

@font-face {
  font-family: 'AtamiBold';
  src: url('./assets/fonts/Atami-Bold.woff');
}

@font-face {
  font-family: 'Atami-Regular';
  src: url('./assets/fonts/Atami-Regular.woff');
}

@font-face {
  font-family: 'AtamiStencil';
  src: url('./assets/fonts/Atami-Stencil.woff');
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* HERO */

.name__logo {
  font-family: 'AtamiBold';
  position: inherit;
  margin-left: 1.5rem;
  font-size: 2rem;
  color: white;
}

.hero-section {
  margin-bottom: 100px;
}

.nav__link {
  font-family: 'Atami';
}

.nav__bar {
  height: 5rem;
  margin-left: 100px;
  display: flex;
  margin-bottom: 2rem;
}

nav {
  margin-right: 6rem;
}

.hero__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-bottom: 7rem;
}

.hero__heading {
  font-family: 'AtamiStencil';
  font-size: 24px;
}

.hero__img {
  width: 100%;
  height: auto;
}

.hero__para {
  font-size: 18px;
  font-weight: 400;
}

.hero__icons {
  font-size: 1.8rem;
  color: var(--iconColor);
  transition: 0.3s;
}

.hero__icons {
  transform: scale(1.2);
}
.icons__container {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .name__logo {
    font-size: 1rem;
    display: none;
  }

  nav {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--bgColor);
  }

  .nav__bar {
    background-color: var(--bgColor);
    display: none;
    margin-left: 0;
  }

  .nav__link {
    padding: 0;
    margin-left: 0;
  }

  .nav__bar {
    margin-left: '0';
  }

  nav {
    margin-left: 0;
  }

  .hero__img {
    margin-bottom: 2rem;
  }

  .hero__para {
    margin-right: 0;
  }

  .hero-section {
    margin-bottom: 20px;
  }
}

/*  SKILLS */

h4 .heading {
  font-family: 'AtamiBold';
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.icon__container {
  display: flex;
  align-items: center;
  display: block;
  justify-content: center;
}

.icon {
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  padding: 0 3rem;
  color: var(--iconColor);
}

@media screen and (max-width: 768px) {
  .icon__container {
    margin: 0 auto;
  }

  .icon {
    font-size: 3rem;
    padding: 0 1rem;
  }

  .project__card {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 389px) {
  .icon__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* CONTACT ME */

.contact__para {
  font-weight: 400;
  font-size: 18px;
}

.input__box {
  height: 60px;
}

option:first-child {
  color: var(--placeholders);
}

.btnSubmit {
  display: block;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: var(--iconColor);
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: 'AtamiBold';
}

.btnSubmit:hover {
  color: white;
}

/* PROJECTS */
.card {
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.project__card {
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.project__card:hover {
  border: none;
}

.card {
  border: 0;
}

.projects__row {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.project__card__header {
  font-weight: bold;
  color: var(--iconColor);
}

img.img-card {
  width: auto;
  height: auto;
}

.text__container {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* FOOTER */

.footer__container {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.footer {
  font-family: 'AtamiBold';
}

/* BLOG PAGE  */

.jumbo__container {
  width: 100%;
}

/* SUCCESS PAGE */

.success__text {
  margin-top: 5rem;
}
