/* GLOBAL STYLES */

:root {
    --primaryDark: #212121;
    --bgColor: #ecf3fd;
    --iconColor: #41937a;
    --placeholders: #c4c4c4;
}

a {
    color: var(--iconColor);
    text-decoration: none;
}

a:hover {
    color: var(--iconColor);
}

body {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgColor);
}
@font-face {
    font-family: 'AtamiBold';
    src: url('./assets/fonts/Atami-Bold.woff');
}

@font-face {
    font-family: 'Atami-Regular';
    src: url('./assets/fonts/Atami-Regular.woff');
}

@font-face {
    font-family: 'AtamiStencil';
    src: url('./assets/fonts/Atami-Stencil.woff');
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* HERO */

.name__logo {
    font-family: 'AtamiBold';
    margin-left: 3rem;
    font-size: 2rem;
    color: var(--primaryDark);
}

.nav__link {
    font-family: 'AtamiBold';
    margin-left: 20px;
}

.nav__bar {
    height: 5rem;
    margin-left: 100px;
}

nav {
    margin-right: 6rem;
}

.hero__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.hero__heading {
    font-family: 'AtamiStencil';
    font-size: 24px;
}

.hero__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.hero__para {
    font-size: 18px;
    font-weight: 400;
}

.hero__icons {
    font-size: 1.8rem;
    color: var(--iconColor);
}

.icons__container {
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .name__logo {
        margin-left: 0.5rem;
        font-size: 1rem;
        display: none;
    }

    nav {
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        background-color: var(--bgColor);
    }

    .nav__bar {
        background-color: var(--bgColor);
        display: none;
        margin-left: 0;
    }

    .nav__link {
        padding: 0;
    }
    .nav__link {
        margin-left: 0;
    }
    .nav__bar {
        margin-left: '0';
    }
    nav {
        margin-left: 0;
    }

    .hero__img {
        margin-bottom: 2rem;
    }
    .hero__para {
        margin-right: 0;
    }
}

/*  SKILLS */

h4 .heading {
    font-family: 'AtamiBold';
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.icon__container {
    display: flex;
    align-items: center;
    display: block;
    justify-content: center;
}

.icon {
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    padding: 0 3rem;
    color: var(--iconColor);
}

@media screen and (max-width: 768px) {
    .icon__container {
        margin: 0 auto;
    }

    .icon {
        font-size: 3rem;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 389px) {
    .icon__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* CONTACT ME */

.contact__para {
    font-weight: 400;
    font-size: 18px;
}

.input__box {
    height: 60px;
}

option:first-child {
    color: var(--placeholders);
}

.btnSubmit {
    display: block;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-color: var(--iconColor);
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: 'AtamiBold';
}

.btnSubmit:hover {
    color: white;
}

/* PROJECTS */

.project__card {
    box-shadow: 2px 2px 3px var(--primaryDark), -2px -2px 3px var(--iconColor) !important;
    margin: 2rem;
}

img.img-card {
    width: 100%;
    height: auto;
}

.text__container {
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* FOOTER */

.footer__container {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.footer {
    font-family: 'AtamiBold';
}

/* BLOG PAGE  */

.jumbo__container {
    width: 100%;
}

/* SUCCESS PAGE */

.success__text {
    margin-top: 5rem;
}
